.gameBoard {
    display: grid;
    grid-template-Columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 20px;
    width: 500px;
    position: absolute;
    left: 40%;
    margin-left: -250px;
    top: 20%;
}

.gameCircle {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
}